* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: 20%;
    margin-top: 2em;
    display: block;
}

ul {
    list-style: none;
    display: inline-block;
}

.dot,
ul li {
    width: 2em;
    height: 2em;
    margin: 5px;
}

.dot {
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 2s, border-radius 1s;
}

canvas {
    display: block;
    border: 1px solid black;
}