* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: 20%;
    margin-top: 2em;
    display: block;
}

ul {
    list-style: none;
    display: inline-block;
}

.dot,
ul li {
    width: 2em;
    height: 2em;
    margin: 2px;
}

.dot {
    background: #ccc;
    cursor: pointer;
    transition: background-color 2s, border-radius 1s;
}

#blockTypeContainer {
    display: flex;
}

.blockType {
    flex-basis: 100px;
    height: 100px;
    margin: 5px;

    position: relative;
    color: white;
}

.description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

canvas {
    display: block;
    border: 1px solid black;
}

.withBorder {
    border: 1px solid black;
}